<form>
  <div class="mb-5">
    <label class="form-label" for="code">4 digit code</label>
    <input
      type="number"
      class="form-control form-control-muted rounded-pill"
      id="code"
    />
  </div>
  <div class="mb-5">
    <label class="form-label" for="newPassword">New Password</label>
    <input
      type="password"
      class="form-control form-control-muted rounded-pill"
      id="newPassword"
      autocomplete="current-password"
    />
  </div>
  <div class="mb-5">
    <label class="form-label" for="confirmPassword">Confirm Password</label>
    <input
      type="password"
      class="form-control form-control-muted rounded-pill"
      id="confirmPassword"
      autocomplete="current-password"
    />
  </div>
  <div>
    <a href="#" class="btn btn-primary rounded-pill w-full"> Sign&nbsp;in </a>
  </div>
</form>
<div class="mt-7 d-flex align-items-center justify-content-between">
  <div class="">
    <small class="me-2">Don't have an account?</small>
    <a [routerLink]="['/auth/login']" class="text-warning text-sm font-semibold"
      >Log&nbsp;in</a
    >
  </div>
</div>
