<form>
  <div class="mb-5">
    <label class="form-label" for="email">Email address</label>
    <input
      type="email"
      class="form-control form-control-muted rounded-pill"
      id="email"
    />
  </div>
  <div>
    <button (click)="reset()" class="btn btn-primary rounded-pill w-full">
      Reset
    </button>
  </div>
</form>
<div class="mt-7 d-flex align-items-center justify-content-between">
  <div class="">
    <small class="me-2">Don't have an account?</small>
    <a
      [routerLink]="['/auth/signup']"
      class="text-warning text-sm font-semibold"
      >Sign&nbsp;up</a
    >
  </div>

  <div class="">
    <small class="me-2">Already have an account?</small>
    <a [routerLink]="['/auth/login']" class="text-warning text-sm font-semibold"
      >Sign&nbsp;in</a
    >
  </div>
</div>
